* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 12px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    border: 1px solid #333;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    border: 0;
    width: 150px;
    padding: 10px;
    border-radius: 6px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}

.correct {
    background: #88ecb3;
}

.incorrect {
    background: #fa8787;
}